# Assignment

The `=` sign is used to assign objects to variables in Python. In Jupyter notebooks and the shell, variable name on a line by itself displays the value of that variable. In a Jupyter notebook running in VS Code, to clear the output of cells, select `Clear All Outputs` from the options at the top of the notebook.

In [1]:
character_name = 'Wilma'

character_name

'Wilma'

In [2]:
input_voltage = 12.3

input_voltage

12.3

In [3]:
matched = False

matched

False

Generally spacing between operators and variable names is not important. It is conventional to leave a space between operators and variables.

However, indentation level at the left of a line is critical. (More on that later.)

Either double quotes `"` or single quotes `'` can be used to define literal strings, but single quotes are conventional in Python.

Blank lines are ignored and can be used to improve readability.

Conventional style guidelines for Python are given in the [PEP 8 style guide](https://www.python.org/dev/peps/pep-0008/)

In [4]:
character_name = 'Wilma'
character_name

'Wilma'

In [5]:
character_name='Wilma'

character_name

'Wilma'

In [6]:
character_name    =    "Wilma"
character_name

'Wilma'

# Built-in functions

Common built-in functions are `print()` and `input()`.

In [ ]:
# The argument passed into the print() function is printed to the display.
# There is no return value

print(character_name) # pass in a variable
print() # pass in nothing
print('Fred') # pass in a literal

In [ ]:
# The argument passed into the input() function is the prompt to the user.
# The return value is the string entered by the user from the keyboard.
my_character = input('What is the name of the character? ')

print(my_character)

## Practice

In the cell below, write a statement that uses the `input` function to prompt the user to enter their phone number. Assign the returned value to an appropriately named variable that uses snake_case. Pass that variable as an argument into the `print` function to display what they entered.

In [8]:
phone_number = input('What is your phone number?')
print('Your number is:',phone_number)

Your number is: 4708970443

## Object types

At this point we are interested in three types of objects: *string*, *number*, and *boolean*.

In [ ]:
# The argument passed into the type function is the object whose type you want to know.
# The return value is the type of the object.

# The output can be assigned to a variable.
the_type = type("a word")
print(the_type)

In [ ]:
# A function can be nested inside another function
print(type(True))

In [13]:
# Numbers can be of several types
print(type(3))
print(type(4.6))

<class 'int'>
<class 'float'>

In [14]:
# Either literal values or variables can be passed into a function

# Check the type of variables defined before
print(type(character_name))
print(type(input_voltage))
print(type(matched))

<class 'str'>
<class 'float'>
<class 'bool'>

In [11]:
# What is the type of the output of the input() function?
answer = input("Input a string or number: ")
print(answer)
print(type(answer))

9
<class 'str'>

In [12]:
# Variables don't have a fixed type.
# Their type is determined by the class of the object you put into them.
a_variable = "word"
print(type(a_variable))

a_variable = 45
print(type(a_variable))

a_variable = True
print(type(a_variable))

<class 'str'>
<class 'int'>
<class 'bool'>

Functions have different requirements for their arguments.

In [16]:
print(max(1, 5, 2))
print(max(3, 6, 14, 1, 256, 34))
print(max())

TypeError: '>' not supported between instances of 'str' and 'int'

In [17]:
print(len('dog'))
print(len('aardvark'))
# '' is called the empty string
print(len(''))
print(len(42))

3
8
0

TypeError: object of type 'int' has no len()

In [18]:
# We may be able to turn one kind of object into another.
a_string = '42'
print(a_string)
print(type(a_string))
a_number = int(a_string)
print(a_number)
print(type(a_number))

42
<class 'str'>
42
<class 'int'>

In [21]:
response = input('What is your number? ')
number = int(response)
# You can print several arguments by separating them by commas
print('Here is your number, plus 2:', number + 2)

ValueError: invalid literal for int() with base 10: '5ll'

## Practice

In the first code cells below, assign `'True'` as a literal string to an appropriately named varible. Pass this variable as the argument of the `type` function to verify its type. (You don't need to use the print statement if you put the type function as the last line of the cell. Its value will automatically be displayed.)

Then in the second code cell, assign `True` as a boolean to a differently named variable. Pass it into the `type` function and display the resulting returned value.

In Colab, open the `Variables` explorer on the upper left (click on `{x}`). In VS Code, click on the `Variables` item at the top of the screen. Verify your results. NOTE: if the explorer is too cluttered, you can clear the environment in Colab by resetting the Runtime. From the `Runtime` menu, select `Reset runtime`. In VS Code, click `Restart` at the top of the page.

In [24]:
variable = 'true'
print(type(variable))

<class 'str'>

In [23]:
variable_two = True
type(variable_two)

bool

# Operations

Operations can be performed on objects before they are assigned to a variable.

Common math operations are `+`, `-`, `*`, and `/`.

In [25]:
number_widgets = 1
answer = number_widgets + 3
print(answer)

4

How do these two scripts differ? (Pay attention to the quotes)

In [26]:
first_number = 325
second_number = 145
together = first_number + second_number
print(together)
print(type(together))

470
<class 'int'>

In [27]:
first_number = '325'
second_number = '145'
together = first_number + second_number
print(together)
print(type(together))

325145
<class 'str'>

The `+` operator does concatenation when used with strings.

Common boolean operations are `==`, `!=`, `>`, `<`, `>=`, and `<=`.

In [28]:
print('dog' == 'cat')

False

In [29]:
print('cat' == 'cat')

True

In [30]:
print('dog' != 'cat')

True

In [31]:
print(3 > 2)

True

In [32]:
print(2 > 2)

False

In [33]:
print(2 >= 2)

True

Booleans can be assigned to variables like any other kind of object.

In [34]:
# Notice that one `=` is the assignment operator and two `==` is the equivalence operator.
same_animal = 'cat' == 'monkey'
print(same_animal)

False

In [37]:
first_animal = input('What is your first animal? ')
second_animal = input('What is your second animal? ')
same_animal = first_animal == second_animal
print('First animal the same as second animal?', same_animal)

First animal the same as second animal? False

## Practice

In the cell below, assign the area code `'615'` as a string to the variable `area_code`. Use the `input` function to ask the user to enter their phone number and store the returned value in a variable called `local_number`. Concatenate `area_code`, a dash (`-`), and `local_number` and assign the result to the variable `phone_number`. Use the `print` function to display the result, using two arguments: the literal string `'Your phone number is:'` and the variable `phone_number`.

In [43]:
area_code = '615'
local_number = input('What is your local number? ')
phone_number = area_code + '-' + local_number
print('your phone number is:',phone_number)

your phone number is: 615-895-5985

# Optional practice with video help.

Predict and explain what these scripts do before you try running them.

In [ ]:
name = input("What's your name? ")
print('Hello ' + name + '! How are you?')

In [ ]:
first_number = float(input('What is your number? '))
second_number = 67.
biggest = max(first_number, second_number, 100.)
print(biggest)

In [ ]:
name = input('What is your name? ')
how_long = len(name)
print('Your name is '+ name + '. It is: ')
print(how_long)
print('characters long.')

In [ ]:
a_number = 16
a_number = a_number + 1
print(a_number)

In [ ]:
number_widgets = int(input('How many widgets? '))
sum = number_widgets + 3
too_many = sum > 10
print(too_many)